{{#section 'title'}}
<title>So sánh sản phẩm</title>
{{/section}}
{{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/compare.css">
{{/section}}
{{body}}
<div class="aroundCart">
    <!--Màu xung quanh-->
    <div class="container">
      <div class="title">
        <content style="font-size: 30px;">So sánh sản phẩm</content>
      </div>
      <div class="divSoSanh">
        <!--Div màu nền trắng-->
        <table class="tableThongSo">
          <tr class="nameThongSo">
            <td></td>
            <td align="center" id="generalProduct1">
              <img src="./assets/img/products/htc-u-ultra.png" width="30%" />
              <div id="nameProduct1">HTC U Ultra</div>
              <div id="priceProduct1" style="font-weight: bold;">9.890.000 đ</div>
              <div id="ratingProduct1">
                <img src="./assets/icons/ratings/4.png" width="15%">
              </div>
            </td>
            <td id="generalProduct2">
              <form class="navbar-form search-form square" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" id="find" placeholder="Tìm kiếm sản phẩm để so sánh">
                  <div class="input-group-btn" style="border-radius: 5px">
                    <button class="btn btn-default" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
          <tr class="nameThongSo">
            <td class="cotTrai">Màn hình</td>
            <td id="screenProduct1">Super LCD, Chính: 5.7", Phụ: 2.05" Quad HD (2K)</td>
            <td id="screenProduct2"></td>
          </tr>
          <tr class="nameThongSo">
            <td class="cotTrai">Hệ điều hành</td>
            <td id="osProduct1">Android 7.0 (Nougat)</td>
            <td id="osProduct2"></td>
          </tr>
          <tr class="nameThongSo">
            <td class="cotTrai">Camera sau</td>
            <td id="rearProduct1">12 MP</td>
            <td id="rearProduct2"></td>
          </tr>
          <tr class="nameThongSo">
            <td class="cotTrai">Camera trước</td>
            <td id="frontProduct1">16 MP</td>
            <td id="frontProduct2"></td>
          </tr>
          <tr class="nameThongSo">
            <td class="cotTrai">CPU</td>
            <td id="cpuProduct1">Qualcomm Snapdragon 821 4 nhân 64-bit</td>
            <td id="cpuProduct2"></td>
          </tr>
          <tr class="nameThongSo">
            <td class="cotTrai">RAM</td>
            <td id="ramProduct1">4 GB</td>
            <td id="ramProduct2"></td>
          </tr>
          <tr>
            <td></td>
            <td id="addToCart1" align="center">
              <button class="btn btnAddToCart btnThemVaoGio">THÊM VÀO GIỎ</button>
            </td>
            <td id="addToCart1" align="center"></td>
          </tr>
        </table>
      </div>
      <!--Close div màu nền trắng-->


    </div>

  </div>