{{#section 'title'}}
<title>Giỏ hàng</title>
{{/section}}
{{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/cartEmpty.css">
{{/section}}
{{body}}
<div class="aroundColor">
    <!--Màu xung quanh-->
    <img src="/assets/icons/shopping-cart.png" id="gioHangRong">
    <h1>Giỏ hàng rỗng!</h1>
    <h2>Ối!Không có sản phẩm nào trong giỏ hàng cả :(</h2>
    <button class="btn buttonMuaSam">
      MUA SẮM NGAY
    </button>
</div>