 {{#section 'title'}}
<title>Hỗ trợ</title>
{{/section}}
{{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
<link rel="stylesheet" type="text/css" href="/assets/css/about.css">
{{/section}}
<div style="background-color: #FAFAFA;" id="background">
    <!--Màu nền-->
    <content id="chaomung">Thông tin</content>
    <div id="aboutContainer">
      <div class="nameField">
        Đây là tit1
      </div>
      Thông tin
      <div class="nameField">
        Đây là tit2
      </div>
      Thông tin
    </div>
  </div>