.container-fluid{
    padding: 0;
}
.wrapper-main{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
    background-color: #333;
}

.header{
    position: relative;
    grid-column: 1/3;
    background-color: #3c8dbc;
    padding: 0;
    min-height: 35px;
    max-height: 80px;
}

.logo{
    padding-left: 30px;
    font-size: 35px;
    display: block;
}

.menu{
    grid-column: 1/2;
    position: relative;
    height: 100vh;
    color: #b8c7ce;
    width: 100%;
}

.navbar-menu{
    float: right;
}

.navbar-item{
    float: left;
}

.glyphicon{
    padding: 15px;
    color: white;
}

a{
    background-color: transparent;
}

.menu-item a{
    color: #b8c7ce;
 
}

.menu-title{
    background-color: #1a2226;
    color: #4b646f !important;
    margin-top: 8px;
    font-size: 20px;
}

.menu-item{
    color: #b8c7ce;
    width: 100%;
    padding-left: 30px;
    height: 40px;
    text-align: left;
    padding-top: 5px;
}

ul{
    -webkit-padding-start: 0;
}

ul li{
    list-style-type: none;
    border-left: turquoise;
}

.menu-item>a:hover{
    text-decoration: none;
}

.menu>ul>li:hover{
    background-color: #3c8dbc;
}

.body-content{
    position: relative;
    width: 100%;
    background-color: white;
}

.wrapper-content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 250px 250px;
}

.item0{
    grid-column: 1/3;
    text-align: center;
}

.item1{
    background-color: #00c0ef !important;
}

.item2{
    background-color: #00a65a !important;
}

.item3{
    background-color: #f39c12 !important
}

.item4{
    background-color: #dd4b39 !important
}

.item{
    margin: 2%;
}

h2{
    text-align: center;
}


.title{
    margin: 0px;
    text-align: center;
}

.box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.isChoose{
    background-color: violet;
}

body{
    font-family: Source Sans Pro;
}