.container-fluid{
    padding: 0;
}
.wrapper-main{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
    background-color: #333;
}

.header{
    position: relative;
    grid-column: 1/3;
    background-color: #3c8dbc;
    padding: 0;
    min-height: 35px;
    max-height: 80px;
}

.logo{
    padding-left: 30px;
    font-size: 35px;
    display: block;
    width: 200px;
    height: 100%;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
}

.menu{
    position: relative;
    height: 100vh;
    width: 100%;
}

.navbar-menu{
    float: right;
}

.navbar-item{
    float: left;
}

.glyphicon{
    padding: 15px;
    color: white;
}

a{
    background-color: transparent;
    text-decoration: none;
}

.menu-item a{
    color: #b8c7ce;
 
}

.menu-title{
    background-color: #1a2226;
    color: #4b646f !important;
    margin-top: 8px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-item{
    color: #fff;
    width: 100%;
    padding-left: 30px;
    height: 40px;
    text-align: left;
    padding-top: 5px;
    font-size: 17px;
}

.menu-item:hover{
    text-decoration: none;
    background-color: #51504b;
    border-left: 5px solid #3c8dbc;
}

a:hover{
    text-decoration: none;
}

ul{
    -webkit-padding-start: 0;
}

ul li{
    list-style-type: none;
    border-left: turquoise;
}

.menu-item>a:hover{
    text-decoration: none;
}

.menu-item-active
{
    text-decoration: none;
    background-color: #51504b;
    border-left: 5px solid #3c8dbc;
}

.body-content{
    position: relative;
    width: 100%;
    background-color: white;
}

.title{
    margin: 0px;
    padding-left: 5px;
}

h2.title{
    text-align: center;
    margin-top: 50px;
}

.user-info{
    color: #fff;
    padding-left: 30px;
}

p.user-name{
    color: white;
}

.chart{
    margin: 50px;
}

.user-panel{
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.isChoose{
    background-color: violet;
}

body{
    font-family: Source Sans Pro;
}