.login-page{
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
}

.login-box{
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 5%;
}

.login-logo{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100%;
    font-weight: 900;
    color: #ff3c00;
    text-align: center;
}

.login-body{
    background: #fff;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 60px;
    border-top: 0;
    color: #666;
    border-radius: 5px;
    font-size: 18px;
}

.form-inline .form-control{
    margin-bottom: 15px;
    margin-left: 4%;
    width: 85%;
}

label{
    margin-left: 4%;
}

.login-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
}

body{
    font-family: Source Sans Pro;
}

#btnDangNhap{
    font-size: 18px;
    float: left;
    text-align: right;
    font-weight: bold;
    font-size: 23px;
}

.loginTit{
    margin-bottom: 10px;
    margin-left: 20px;
}