{{#section 'title'}}
Đơn hàng #532898521
{{/section}}

{{#section 'header'}}
  <link rel="stylesheet" type="text/css" href="./assets/css/packageDetail.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/signup.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/cart.css">
{{/section}}

  <div class="background">
    <!--Background-->
    <div class="container" style="margin-bottom: 50px;">
      <div class="container">
        <div class="row">
          <!--Row-->
          <div>
            <div class="wrapperPackage" style="margin-top: 100px;">
              <!--wrapper id don hang-->
              <div>
                <div>
                  <content class="nameInfo">
                    Đơn hàng
                    <content id="packageID">#532898521</content>
                  </content>
                </div>
                <div>
                  <content style="font-style: italic;">
                    Dự kiến đến vào ngày
                    <content id="arrivalDate">20/4/2018</content>
                  </content>
                </div>
              </div>
              <div align="right" style="margin-top: 10px;">
                <button class="btn btnHuyPackage">
                  HỦY ĐƠN HÀNG
                </button>
              </div>
            </div>
            <!--table thong tin-->
            <!--wrapper id don hang-->
            <div class="wrapperInfo">
              <div style="width: 100%; margin-left: 220px;">
                  <!--thong tin giao hang view-->
                  <table class="seperatorNgangInfo" style="display: inline-block; margin-bottom: -30px; margin-top: 30px;">
                    <tr>
                      <td id="processing" class="chiTietGH doneGH">
                        <img src="./assets/icons/package-processing/processing.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector doneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH doneGH">
                        <img src="./assets/icons/package-processing/shipping.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector notdoneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH notdoneGH">
                        <img src="./assets/icons/package-processing/shipped.png" style="width: 35px;">
                      </td>
                    </tr>
                  </table>
                  <table class="seperatorNgangInfo" style="display: inline-block; margin-bottom: -10px; text-align: center;">
                    <tr style="margin: auto;">
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Xác nhận
                      </td>
                      <td width="180px"></td>
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Giao hàng
                      </td>
                      <td width="180px"></td>
                      <td width="65px" style="padding: 0px;" class="chiTietGHText notdoneGHText">
                        Nhận hàng
                      </td>
                    </tr>
                  </table>
                  <!--thong tin giao hang view-->
              </div>
              <!--table thong tin-->
              <table class="tableThongSo" style="width: 100%">
                <tr class="nameThongSo">
                  <td class="cotTrai">3:20 13/4/2018</td>
                  <td>Xác nhận đơn hàng thành công</td>
                </tr>
                <tr class="nameThongSo">
                  <td class="cotTrai">8:40 16/4/2018</td>
                  <td>Đang chuyển đến đối tác giao hàng</td>
                </tr>
              </table>
              <!--close table thong tin-->
              <div class="seperatorNgangInfo">
                <img src="./assets/misc/seperator-AccInfo-Package.png" style="width: 100%">
              </div>
              <!--wrapper thông tin-->
              <div class="infoTable" style="width: 100%; margin-top: 0px;">
                <!--wrapper thông tin đơn hàng-->
                <div>
                  <img src="./assets/img/products/htc-u-ultra.png" id="infoThumbnail" class="infoThumbnail" />
                </div>
                <div class="alignMiddle">
                  <div id="packageName" style="font-size: 14pt">HTC U Ultra</div>
                  <div id="varient" class="varient" style="font-size: 12pt">
                    <content id="storage">
                      64GB
                    </content>
                    <content>
                      ,&nbsp
                    </content>
                    <content id="color">
                      Đen
                    </content>
                  </div>
                </div>
                <div id="infoPrice" class="alignMiddle infoPrice" style="font-size: 16pt;">
                  9.890.000 đ
                </div>
                <div id="infoQty" class="alignMiddle" style="font-size: 16pt;">
                  1
                </div>
              </div>
              <!--wrapper thông tin đơn hàng-->
              <div class="seperatorNgangInfo">
                <img src="./assets/misc/seperator-AccInfo-Package.png" style="width: 100%">
              </div>
              <div class="total" style="width: 100%;">
                <div id="status" class="alignMiddle" style="margin-bottom: 20px;">
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight: bold">
                      Địa chỉ:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      791/86 Trần Xuân Soạn, quận 7, tp. HCM
                    </div>
                  </div>
                  <div class="row" style="margin-top: 0px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight: bold">
                      Phương thức thanh toán:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      COD
                    </div>
                  </div>
                </div>
                <div class="alignMiddle grandTotalText">
                  <content class="grandTotalLable">
                    Thành tiền:
                  </content>
                  <content>
                    &nbsp&nbsp&nbsp&nbsp
                  </content>
                  <content id="grandTotal" class="grandTotalPrice">
                    9.890.000 đ
                  </content>
                </div>
              </div>
            </div>
            <!-- Close wrapper thông tin-->
          </div>
        </div>
        <!--Close row-->
      </div>
      <!--Close Container-->
    </div>
    <!--Close background-->

{{#section 'script'}}
 <script>
      $(".btnHuyPackage").click(function () {
        $("#myModal").show();
      })
      $("#btnHuyGioHang").click(function () {
        $("#myModal").hide();
        window.location.href = "./cart.html";
      })
      $("#btnKhongHuyGioHang").click(function () {
        $("#myModal").hide();
      })
    </script>
{{/section}}

