  <div style="background-color: #FAFAFA;" id="background">
    <!--Màu nền-->
    <content id="chaomung">Chào mừng bạn đã trở lại MobileN! Đăng nhập và mua sắm ngay!</content>
    <div class="row" id="formLogin">
      <!--Left Form-->
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <form name="logIn" action="javascript:history.go(-1)">
        <div id="name">EMAIL</div>
        <input placeholder="Địa chỉ email" id="emailInput" class="input form-control" required type="email">
        <label id="alertLoginEmail" style="margin-bottom: 0px; color: #ff3c00; font-style: italic; margin-top: 5px;">&nbsp;</label>
        <div id="name" style="padding-top: 10px;">MẬT KHẨU</div>
        <input placeholder="******" id="passInput" type="password" class="input form-control" required>
        <label id="alertLoginPass" style="margin-bottom: 0px; color: #ff3c00; font-style: italic; margin-top: 5px;">&nbsp;</label>
        <a href="#" id="forgotPass">Quên mật khẩu?</a>
        <br>
        <label>
          <input id="checkBox" type="checkbox" name="">&nbsp;Ghi nhớ mật khẩu
        </label>
        <div id="dangNhap" class="buttonDangKy">
          <button type="submit" class="btn" id="btnDangNhap">
            ĐĂNG NHẬP
          </button>
        </div>
      </form>
      </div>
      <!--Close left Form-->
      <div id="rightForm" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <!--Right Form-->
        <div id="textRight">
          <h3>Bạn đến với MobileN lần đầu?</h3>
          <h2>Đăng ký ngay!</h2>
        </div>
        <div id="dangKy" class="buttonDangKy">
          <button class="btn" id="btnDangKy">
            ĐĂNG KÝ
          </button>
        </div>
      </div>
      <!--Close Right Form-->
    </div>
  </div>
  <!--Close màu nền-->